body {
  background-color: #5973bd;
  color: black;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

#user_nav{
  text-align: right;
  padding-right: 1%;
}

#content{
  border: thick outset #79bd74;

}

p, ol, ul{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: black;
  &:visited {
    color: #333;
  }
  &:hover {
    text-decoration: underline;
  }
}

div {
  background-color: white;
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}
#alert {
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

table{
  text-align: left;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-size: 40pt;
}

.location{
  font-size: 25pt;
}

.restaurant{
  font-size: 25pt;
}

.monospace{
  font-size: 25pt;
  font-family: monospace;
  &:hover {
    text-decoration: none;
  }
}
