//ERROR MESSAGES color: red; font-weight: bold;


body {
  background-image: url('http://thepatternlibrary.com/img/u.png');
  //background-color: #FFCC5E;
  //#3D85C6; is the blue
  color: black;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 13px;
  text-align: center;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  min-width: 800px;
}
#container{
  min-width: 40em;
  background-color: rgb(255, 195, 62);
  box-shadow: inset 0 0 12px 1px rgb(0, 0, 0);
  padding: 1em;
}
#user_nav{
  text-align: center;
  padding-right: 10px;
}

#content{
//  border: thick outset #79bd74;
}

p, ol, ul{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: black;
  &:visited {
    color: #333;
  }
  &:hover {
    text-decoration: underline;
  }
}

div {
  background-color: #FFCC5E;
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
	text-align: left;
	}
#alert {
  color: red;
	text-align: left;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

table{
  text-align: left;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-size: 30px;
  margin-bottom: -5px;
}

.location{
  font-size: 20px;
}

.restaurant{
  font-size: 16px;
}

.monospace{
  font-size: 23px;
  &:hover {
    text-decoration: none;
  }
  img{
    width: 30px;
    height: 30px;
  }
}

#logo{
	font-size: 26pt;
	background-color: #FFCC5E;
//	background-color: #3d85C6;
	a{
	  color: black;
	}
}

.tel{
	margin-left:10px;
}

#welcome{
	text-align:left;
	margin-left: 90px;
}
