<h1>Pick a location</h1>
<table>
<% @locations.sort_by{|location| location.name}.each do |location| %>
  <tr>
    <td class="location"><%= link_to location.name, location_restaurants_path(location) %></td>
    <% if current_user.admin? %>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Delete', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<%= if current_user.admin? then link_to 'New Location', new_location_path end %>
